<style>
    .ull{
        color:#242124;
    }
    .ull{
        text-decoration: none;        
    }
    .ull:hover{
        text-decoration: underline;
    }
</style>
<footer style="background-color: #ebebeb !important; font-family: poppins !important;">
    <div style="width: 100vw;" class="f-info row align-items-start pb-4 ps-4">
        <div class="col-lg-3 col-md-6 mt-4">
            <p style="text-align: center;"><b>HSGA TELANGANA</b></p>
            <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:300px;height:300px;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=Vigyan+Puri+Colony&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="the-googlemap-enabler" href="https://www.bootstrapskins.com/themes" id="make-map-data">premium bootstrap themes</a><style>#google-maps-display .text-marker.map-generator{max-width: 100%; max-height: 100%; background: none;}</style></div>
        </div>
        <div class="col-lg-3 mt-4 col-md-6">
            <div style="display: flex;flex-direction: column; align-items: center;">
                <b>USEFUL LINKS</b>
                <br>
                <a href="/" class="ull">Home</a><br>
                <a href="/history" class="ull">About Us</a><br>
                <a href="/prashikshamyojna" class="ull">Prashiksham Yojana</a><br>
                <a href="/contact" class="ull">Contact Us</a><br>
                <a href="/careers" class="ull">Career</a><br>
            </div>
            
        </div>
        <div class="col-lg-3 mt-4 col-md-6">
            <div style="display: flex;flex-direction: column;">
                <b style="align-self: center;">ADDRESS</b>
                <br>
                B-3 F-1, Vigyan Puri Colony, Vidhya Nagar, Hyderabad, Telangana-500044 <br>
                <br>
                <B>Phone:</B> 04031607502,<br>
                +91 7997819797 <br>
                <br>
                <b>Email:</b> hsgatelangana@gmail.com
            </div>
            
        </div>
        <div class="col-lg-3 mt-4 col-md-6">
            <b style="display: flex;justify-content: center;">SOCIALS</b>
            <br>
            <div style="display: flex;flex-wrap: wrap; justify-content: center;">
                &nbsp;&nbsp;&nbsp;
                <a href="" style="text-decoration: none; color: black;"><i class="fa-brands fa-facebook fa-2xl ic1"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" style="text-decoration: none; color: black;"><i class="fa-brands fa-square-instagram fa-2xl ic2"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" style="text-decoration: none; color: black;"><i class="fa-brands fa-square-x-twitter fa-2xl ic3"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>    
        </div>
    </div>
    <div style="width: 100vw; display: flex; justify-content: space-around;background-color: #000c3e;">
        <div style="color: white;" class="pt-4 pb-4">
            &copy; <a href="/" style="text-decoration: none; color: white;">Hindustan Scouts & Guides Association, Telangana</a>
        </div>
        <div style="color: white; font-style: italic;" class="pt-4 pb-4">
            Architectured by <a href="https://www.linkedin.com/in/siddharthkamlekar/" class="ull" style="color: white;">Siddharth</a> and <a href="https://www.linkedin.com/in/keshav-sai-321185155/" class="ull" style="color: white;">Keshav</a>
        </div>
    </div>
</footer>
