<style>
  
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top" style="margin: 0; padding: 0;">
    <div class="container-fluid">
      <a class="navbar-brand disabled" href="/listings" style="color: whitesmoke;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" style="border:none;color: whitesmoke;">
        <span><i class="fa-solid fa-bars fa-lgS" style="color: #f5f5f5;border: none !important;" ></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup" style="background-color: #000C3E;">
        <div class="navbar-nav nav-fill">
          <a class="nav-link" href="/hsga">Home</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle tg-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Our Profile
            </a>
            <ul class="dropdown-menu td-1">
              <li><a class="dropdown-item" href="/history">History</a></li>
              <li><a class="dropdown-item" href="/membership">Membership</a></li>
              <li><a class="dropdown-item" href="/mission">Mission & Vision</a></li>
              <li><a class="dropdown-item" href="/aims">Aims & Objectives</a></li>
            </ul>
          </li>

          <a class="nav-link" href="/prashikshamyojna">Prashiksham Yojna</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle tg-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Team
            </a>
            <ul class="dropdown-menu td-1">
              <li><a class="dropdown-item" href="/stateteam">State Team</a></li>
              <li><a class="dropdown-item" href="/nationalteam">National Team</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle tg-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gallery
            </a>
            <ul class="dropdown-menu td-2" style="border: none; border-radius: 0; background-color: #000C3E40;">
              <li><a class="dropdown-item" href="/photo_gal">Photos</a></li>
              <li><a class="dropdown-item" href="/video_gal">Videos</a></li>
            </ul>
          </li>   

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle tg-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Insights
            </a>
            <ul class="dropdown-menu td-1">
              <li><a class="dropdown-item" href="/careers">Careers</a></li>
              <li><a class="dropdown-item" href="/news">News</a></li>
              <li><a class="dropdown-item disabled" href="/downloads">Downloads</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle tg-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Login
            </a>
            <ul class="dropdown-menu td-1">
              <li><a class="dropdown-item" href="https://forms.gle/xgX7ZGdhTM5UWYk57">Member Login</a></li>
              <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLScSA_xiRTMM4gHJCC9qUBVlGgdsv_q6UUtAxfJIeNaPvBFLoA/viewform">Institutional Login</a></li>
              <li><a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfaVBiRXGMVXgI0v9nhBJxRg-0Anq8GJUWBh0WrXAU94hJJsw/viewform">Student Login</a></li>
            </ul>
          </li> 
          <a class="nav-link" href="/contact">Contact Us</a>         
                  
        </div>
        
      </div>
    </div>
  </nav>

  <!-- <script>
    let dpm=document.querySelector(".tg-1");
    dpm.addEventListener("mouseover",()=>{
      setTimeout(()=>{
        console.log("Working");
        dpm.classList.add("show");
        let mn=document.querySelector(".td-1");
        mn.classList.add("show");
      },300)      
    })
    // dpm.addEventListener("mouseout",()=>{
    //   setTimeout(()=>{
    //     console.log("Working");
    //     dpm.classList.remove("show");
    //     let mn=document.querySelector(".td-1");
    //     mn.classList.remove("show");
    //   },200)      
    //})
  </script> -->