<style>
    h2{
        font-family: poppins;
    }
</style>
<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
  <img src="https://www.enago.com/academy/wp-content/uploads/2023/05/910x340_Research-aims-and-goals-1.png" class="history-image col-lg-12 p-0 m-0">
  <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
    <h1 class="card-title history-card-text">Aims and Objectives</h1>      
  </div>
</div>
<br>
<div style="width: 100vw;">
    <div class="col-10 offset-1">
        <h2 class="text-center">Aims & Objectives</h2>
        The Aims and Objects of the Association shall be to inoculate and promote reverence to God/Dharma and selfless service to Mother and Humanity. The means and methods adopted shall be:-
        <ul>
            <li>To teach and train boys and girls, men and women to revere <b>God</b> or <b>Dharma</b>. Through yoga, all faith Meditation and Prayer.</li>
            <li>To develop the character of boys and girls, men and women and make them good citizens.</li>
            <li>To promote the physical, mental, moral and spiritual development of boys and girls, men and women.</li>
            <li>To promote powers of observation, self-discipline and self-reliance and to inoculate and develop loyalty and patriotism and to promote service to others.</li>
            <li>To teach and train boys and girls, young men and young women in scout guide crafts.</li>
            <li>To arrange/organize Hikes, Trekking programs, Educational tours, Adventure tours, etc., and provide conveyance to any person or persons to and for places of historical/educational significance to improve the knowledge and sense of National Integration.</li>
            <li>To train in arts and handicrafts useful to themselves and service useful to Society.</li>
            <li>To help the boys and girls and teach them to serve and live in harmony irrespective of race, creed, religion, or color abstaining from the violence through work or action.</li>
            <li>To establish, take over or collaborate with any Institution or School or Association for physical, mental, spiritual, educational development and uplift of intelligence or its development, particularly for the children and people of the weaker section of the Society i.e. poor, widow, blinds, handicapped etc. and also to provide ability and skill for employment, self-employment.</li>
            <li>To establish, found and maintain Schools, Libraries, and reading rooms and to organize seminars, conferences and training camps to increase knowledge of people.</li>
            <li>To conduct activities to the protection and conserving the nature and environment including forests, lakes, rivers, wildlife and compassion for living creatures and to improve the feeling in people for the same.</li>
            <li>All the incomes, earnings, movable or immovable properties of the society shall be solely utilized applied towards the promotion of its aims and objects only as set forth in the Memorandum of Association and no portion thereof shall be paid or transferred directly or indirectly by way of dividends, bones, profits or in any manner whatsoever, to the present or past members of the Society or to any person claiming through any one or more of the present or the past members. No member of the Society shall have any personal claim on any movable or immovable properties of the society or make any profit, whatsoever, by virtue of his membership.</li>
            <li>To work in co-operation with other agencies with similar aims and objects.
            <li>To profess and practice the Promise and the Law.
        </ul>
    </div>
    <div class="col-10 offset-1">
        <h2>The Promise:</h2>
        <div class="row">
            <div class="col-lg-6 col-md-10">
            I) The Promise for Boys Scouts and Rovers is-
            <ul>            
                <li>On my honor, I promise that I will do my best.</li>
                <li>To do my duty to GOD* and my Country.</li>
                <li>To help other people at all times</li>
                <li>To obey the Scouts Law.</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            II) The Promise for Girl Guides and Rangers is-
            <ul>
                <li>On my honor, I promise that I will do my best.</li>
                <li>To do my duty to GOD* and my Country.</li>
                <li>To help other people at all times</li>
                <li>To obey the Guide Law.</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            III) The Promise for Cubs is- 
            <ul>
                <li>I promise that I will do my best.</li>
                <li>To do my duty to GOD and my Country.</li>
                <li>To keep the the Law of Cub Pack and</li>
                <li>To do a good turn every day</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            IV) The Promise for Bulbul is-
            <ul>
                <li>I promise that I will do my best.</li>
                <li>To do my duty to God and my Country.</li>
                <li>To keep the Law of Bulbul Pack</li>
                <li>To do a good turn every day.</li>
            </ul>
            </div>
        </div>
    </div>   
    <div class="col-10 offset-1">
        <h2>The Law:</h2>
        <div class="row">
            <div class="col-lg-6 col-md-10">
            I) The Law for the Girl Guide and Rangers is-
            <ul>            
                <li>A Guide honour is to be trusted.</li>
                <li>A Guide is loyal.</li>
                <li>A Guide duty is revere God and serve her Country and help others.</li>
                <li>A Guide is a friend to all a sister to every other Guide no matter to what Country, class or creed the other may belong.</li>
                <li>A Guide is courteous.</li>
                <li>A Guide is a friend to animals.</li>
                <li>A Guide is disciplined and obeys orders.</li>
                <li>A Guide is brave and smiles under all difficulties.</li>
                <li>A Guide is thrifty.</li>
                <li>A Guide is pure in thought, word and deed.</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            II) The Law for the Boy Scouts and Rovers is-
            <ul>
                <li>A Scout’s honor is to be trusted.</li>
                <li>A Scout is loyal.</li>
                <li>A Scout duty is revere God and serve his Country and help others.</li>
                <li>A Scout is a friend to all a sister to every other Scout no matter to what Country, class or creed the other may belong.</li>
                <li>A Scout is courteous.</li>
                <li>A Scout is a friend to animals.</li>
                <li>A Scout is disciplined and obeys orders.</li>
                <li>A Scout is brave and smiles under all difficulties.</li>
                <li>A Scout is thrifty.</li>
                <li>A Scout is pure in thought, word, and deed.</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            III) The Law for Cubs is- 
            <ul>
                <li>The Cub gives in to the elders.</li>
                <li>The Cub is clean and courteous.</li>
            </ul>
            </div>
            <div class="col-lg-6 col-md-10">
            IV) The Law for Bulbul is-
            <ul>
                <li>The Bulbul gives in to the elders.</li>
                <li>The Bulbul Cub is clean and courteous.</li>
            </ul>
            </div>
        </div>
    </div> 
    <div class="col-10 offset-1">
        <h2>The principal objectives are:</h2>
        <ul>
            <li>Humanity</li>
            <li>Service to Nation</li>
            <li>Inclusive of all Religion/God</li>
        </ul>


    </div>
</div>