<% layout("/layouts/boilerplate.ejs") %>
<br>
<div style="width: 100vw;display: flex; justify-content: center; align-items:center; flex-wrap: wrap;">
        <div style="width: 30%;" class="career-img">
            <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516853/care_dqrk9c.png" alt="" style="width: 99%;">
        </div>
        <div style="width: 60%;" class="career-div">
            <h3 style="font-family: poppins;">Jobs Notification:</h3>
            <p style="text-align: justify;" class="ps-4">            
                Recruitment of Scout Master's, Guide Captions, Assistant Scout Master's, Assistant Guide Captions, District Organising Commissioner's All over the TELANGANA State. Apply Online. <br>
                Last Date : 15-09-2020.
            </p>
            <br>
            <h3 style="font-family: poppins;">Eligibility:</h3>
            <p class="ps-4">
                1. Assistant Scout Master's/Assistant Guide Captions - Intermediate/+2 Age: 18-30 years.
                <br><br>
                2. Scout Master's/ Guide Captions- any Degree/ Age: 20-35 years.
                <br><br>
                3. District Organising Commissioner's- Any PG Age: 18-35 years.
            </p>
        </div>    
</div>
<div class="offset-6">
    <a href="https://forms.gle/xgX7ZGdhTM5UWYk57" class="btn btn-dark">Voluntary Application Form</a>
</div>