<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
    <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516890/17_vwjp7u.jpg" class="history-image col-lg-12 p-0 m-0">
    <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
      <h1 class="card-title history-card-text">History</h1>      
    </div>
</div>

<div style="width: 100vw;">
  <div class="history-info mt-5 col-10 offset-1">
    <div>
      <h4 style="font-weight: 600;">What Is Scouting ?</h4> 
      <p>In our opinion Scouting is not only a physical exercise but it is a way to uplift the soul of a human being to reach to god. It is a play way method of building a person to a perfect human being from the childhood to the time of going home of god. Once a Scout always Scout.
      </p>
    </div>
    <br>
    <div>
      <h4 style="font-weight: 600;">Origin of Scouting Guiding</h4> 
      <p>Originally Scout word is taken from Military. Military of every Country has Scout wing. A retired top British Military officer named Sir Robert Stephenson Smith Lord Baden Powell won famous boar war of South Africa with the assistance of boys of Military person in 1900. He wrote a book named “ Aid’s to Scouting”. It was very much liked by youth Associations in England. After wards in 1907 he wrote an important famous book “Scouting for Boy’s”. It caused the origin of Scouting in the World. After retirement he held an experimental, but successful training camp in Brown sea Island in England, from 29-07-1907 to 09-10-1907 with 22 boys. It was the beginning of Scouting for Boys.
      For girls it began in 1910 under the Leadership of Lord Baden Powell's unmarried sister Agnes Baden Powell with name of “Girl Scouting”. After 2 years when Agnes was married on the other hand Lord Baden Powell married with Miss Olave in 1912, She took charge of Girl Scouting and change its name into “Girl Guiding”. Even to say both names are running. The world Organization is called “World Boy Scouts & Girl Guides Associations”.
      </p>
    </div>
    <br>
    <div>  
      <h4 style="font-weight: 600;">Scouting in India</h4> 
      <p>Scouting came in India under the banner “Boys Scouts of India” in 1909 and Girl Guiding in 1913 but they were ment only for European and Anglo Indian boys and girls.
      The doors of these organizations were never opened for Indians boys and girls. There was resentment in Indians for it and 1921, when World Chief Scout Lord Baden Powell came to India, under the Leadership of Pt. Madan Mohan Malviya, a well-known leader of India, was approved and requested to open the doors for Indian boys and girls but he refused brutally. It was published in newspapers all around the World it was disclosed and due to great resentment in Indians, new Scout troops were being opened throughout India. Till 1928 about 9 troop new troops were working in the field. Even Dr. Annie Besant an English Lady working with Mahatma Gandhi ji opened a Girl Company in Madras.
      In 1928 Pt Madan Mohan Malviya requested all Indian groups to come under one Banner. They agreed and a new National Association named “ HINDUSTAN SCOUTS ASSOCIATION” , came in existence and Pt Shri Ram Bajpai, who run “Sewa Samiti Scouts Group and prepared Indian literature for the same, were appointed 1st National Organizing Commissioner of Hindustan Scout Association, under the Leadership of Sewa Shri Pt Madan Mohan Malviya and Pt. Hridya Nath Kunjroo, Vivian Bose, G.S. Arundale, Mohan Singh Mehta, and several other prominent figures of India.
      </p>
    </div>
    <br>
    <div>
      <h4 style="font-weight: 600;">An Extra Ordinary Incident</h4>
      <p>1938 Lord Baden Powell, World Chief Scout again came India and these was a grand Rally at Allahabad orgnised by Boy Scouts of India. Pt. Shri Ram Bajpai also attended it with a group Hindustan Scouts Association in uniform when Lord Baden Powell, as Chief Guest tried to hoist the flag, it was not opened. When English Scouts & Scouters failed to make it unfurled, Pt Shri Ram Bajpai asked his Scout to climb the pole to make it ready to be unfurled. The Hindustani Scout climbed the pole but suddenly as he reached the upper part of the pole, the pole was broken and the Scout failed down with the broken piece. He again climbed the pole with a broken piece of the pole and his Scout rope. He lashed it with the fixed piece of the pole with his Scout rope. He made the flag fit to be unfurled. He got down and saluted to Pt. Shri Ram Bajpai. Pt. Shri Ram Bajpai requested Lord Baden Powell to unfurled the flag it was ready. Lord Baden Powell hoisted the flag and praised the Indian Scout for his direful deed. In his speech he withdrew his words spoken in 1921 for Indians and requested Viceroy of India to recognized Hindustan Scout Association at National level with Govt. Grant- In-Aid. He also asked the Viceroy to depute Pt. Shri Ram Bajpai to attend the Wood Badge Trg. Camp at Gillwill Park (England) with Govt. financial help.
      Hindustan Scouts Guides Association
      </p>
    </div>
  </div>
</div>