<style>
  .our{
    font-family: poppins;
    color: #000c3e;
    transition: 0.4s ease-out;
  } 
  .our:hover{
    color: orange;
}
</style>
<% layout("/layouts/boilerplate.ejs") %>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" style="width:100vw;" data-bs-ride="carousel">
    <div class="carousel-inner" style="width: 100%; height: 100vh">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516890/18_botahw.jpg" class="d-block w-100 fir" style="filter: brightness(0.6); height: 100%;">
        <div class="carousel-caption d-none d-md-block top-0">
          <h1 class="tt">Welcome To Hindustan Scouts And Guides Association, Telangana</h1>          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516888/14_xah6ag.jpg" class="d-block w-100" style="filter: brightness(0.6); height: 100%;">
        <div class="carousel-caption d-none d-md-block top-0 ca1">
            <h1 class="tt">Welcome To Hindustan Scouts And Guides Association, Telangana</h1>          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516889/15_n6fiuc.jpg" class="d-block w-100" style="filter: brightness(0.6); height: 100%;">
        <div class="carousel-caption d-none d-md-block top-0">
            <h1 class="tt">Welcome To Hindustan Scouts And Guides Association, Telangana</h1>          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next me-2" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="midone row ms-0 d-flex justify-content-center align-items-center mt-4" style="width: 100vw;">
    <div class="col-lg-6 col-md-10 col-sm-8" style="text-align: justify; font-size: 1rem;">
        <h3 class="home-head animate" style="font-family: poppins !important;">Scouting</h3>
        <p class="home-para animate">Scouting is a movement that aims to support young people in their physical, mental and spiritual development, that they may play constructive roles in society, with a strong focus on the outdoors and survival skills. During the first half of the 20th century, the movement grew to encompass three major age groups for boys (Cub Scout, Boy Scout, Rover Scout) and, in 1910, a new organization, Girl Guides, was created for girls (Brownie Guide, Girl Guide and Girl Scout, Ranger Guide). It is one of several worldwide youth organizations. Lawrie Dring was one of the founding members of our Federation and always guide us all in to the traditional scouting. He was a true Scout and will always be remembered as such, as he goes home to join the campfire of B.-P. We will all miss him and our scouting family will be much poorer without his experience and enthusiasm.</p>
        <div class="d-flex justify-content-center mb-4"><a href="/history" class="btn btn-dark moa animate" style="background-color: #f5873b; border: none; border-radius: 0;">Read More</a></div>
    </div>
    <div class="col-lg-4 col-md-10 col-sm-8">    
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516917/a_sp9mhe.jpg" alt="" class="midone-img animate" width="100%">
    </div>
  </div>
  <br>
  <div class="d-flex justify-content-center p-4" style="background-color: white; width: 100vw;">
    <div class="why-choose-area">
      <div>
          <div class="row why ps-4 pe-4 ms-lg-1 me-lg-1 d-flex justify-content-center">
              <div class="col-lg-4 col-md-10 col-sm-12 col-xs-12 mb-4">
                  <div class="service-box4">
                      <h3><a href="/mission" class="our"><i class="fa-solid fa-person-circle-question"></i> Mission</a></h3>
                      <p style="text-align:justify;">To contribute to the education of young people, through a value system based on the Scout Promise and Law to help build a better world where people are self-fulfilled as individuals and play a constructive role in society.</p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-10 col-sm-12 col-xs-12 mb-4">
                  <div class="service-box4">
                    <h3><a href="/aims" class="our"><i class="fa-solid fa-bullseye"></i> Goals</a></h3>
                    <p style="text-align:justify;">To establish, take over or collaborate with any Institution or School or Association for physical, mental, spiritual, educational development and uplift of intelligence or its development, particularly for the children and people of the weaker section of the Society i.e. poors, widow, blinds, handicapped etc. and also to provide ability and skill for employment, self-employment. </p>
                  </div>
              </div>
              <div class="col-lg-4 col-md-10 col-sm-12 col-xs-12">
                  <div class="service-box4">
                      <h3><a href="/aims" class="our"><i class="fa-solid fa-anchor"></i> Values</a></h3>
                      <p style="text-align:justify;">To help the young men and young ladies and instruct them to serve and live in congruity independent of race, statement of faith, religion or shading obstataining from the brutality of through work or activity. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
