<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTZ4ydv6lULeqAs3iBGY-Se8n5b_MMcUdyOw&s" class="history-image col-lg-12 p-0 m-0">
    <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
      <h1 class="card-title history-card-text">Become a Member</h1>      
    </div>
</div>
<div style="width: 100vw;">
    <div class="mt-5 col-10 offset-1" style="text-align: justify;">
        <p><b>Membership</b> of the Association is open to the citizens of India and who subscribes to  <b>Aims and Objects</b> of the Association and residing or working in Indian are admitted as such by the Executive Committee of the Association.</p>

        <p>Citizen of any other Nation may be admitted as member of our Association on the recommendation of the Association and National Executive Committee’s Scout/Guide promise as mentioned below:-</p>

        <p>“ On my honour, I promise that I will do my best. <br>
        To do my duty to <b>GOD*</b> and my Country. <br>
        To help other people at all times and <br> 
        To obey the Scout/Guide Law.”</p> 

        <p>Note : (a)
        <br><br>
        The word <b>Dharma</b> may be substituted for the word <b>GOD</b> if desired. The membership of the Association shall be :- <br>
        &#9733; General Members <br>
        &#9733; Special Members <br>
        &#9733; Ordinary Members <br>
        &#9733; Honorary Members <br>
        &#9733; Life Members <br>
        &#9733; Institutional Members <br><br>
        <b>General Members :-</b> The General Members of the Association are only beneficiaries and are not Special Members within the meaning of Section-15 of S.R. Act (XXI) of 1860 and they shall be :
        CUBS/BULBUL (+5 to 11 years old)
        SCOUTS/GUIDE (+11 to 16 years old)
        ROVER/RANGER (+16 to 25 years old)
        of affiliated/registered groups to this Association, its branches at State, Dist. or Local Association.</p>

        <b>NOTE :-</b> THE GENERAL MEMBERS SHALL NOT BE ELIGIBLE TO HOLD ANY OFFICE OR STAND FOR ELECTION TO ANY OFFICE AT ANY LEVEL. <br><br>

        <b>1. Special Members :-</b>
        Those who are admitted as such by the National Executive Committee for their special services and contribution for the movement. (Under Section-15 of S.R. Act (XXI) of 1860)
        <br><br>
        <b>2. Ordinary Members :-</b>
        Those who are admitted as such by the National Executive Committee and has paid ordinary Membership fee annually as prescribed by the National Executive Committee time to time. At present an ordinary member shall pay Rs. 100/- per annum. The Ordinary Members of the Association shall hold meeting after three years but before the meeting , National Council will elect one delegate for every 20 ordinary members who will represent
        National Council on behalf of 20 ordinary members.
        <br><br>
        <b>3. Honorary Members :-</b>
        Honorary Life Members, not more than 6 admitted as such by the National Council for meritorious services rendered to the movement. All the Honorary Members of the Association shall be the members in the State/National Council.
        <br><br>
        <b>4. Life Members :-</b>
        Those who are admitted as such by the National Executive Committee and has paid life membership fees one time as prescribed by the National Executive Committee time to time. At present an life member shall pay Rs. 1100/- at a time. One or more but not than 5 members @ 1/10 of life members elected from amongst themselves one of whom may be a woman.
        <br><br>
        <b>5. Institutional Members :-</b>
        Institutions such as School, Colleges, Universities, Clubs, Industries Groups, Groups of Youth and other NGO’S. may be affiliated to our Association who subscribed to the Aims & Objects of our Association and pay the annual affiliation fees @ Rs. 2000/- per year or life membership fees @ Rs. 1000/- at a time or the fees fixed by the State/National Executive Committee from time to time may enrolled as Institutional Member of the Association by the National Executive Committee of the Association. Such Institutions shall be represented by one representative outrised by the affiliated Institutions in National Council. The Institutional Members of the Association shall hold meeting after every three years but before the meeting of the National Council under the Presidentship of the President of the National Council/Chairman, National Executive Committee and will elect one delegate for every (20). Institutional members who will represent for and on behalf of the 20 Institutional Members in the National Council.
        <br><br>
        <b>6. Other Members :-</b>
        The members of the Branch State Associations who pay Rs. 1100/- per year as Annual affiliation fees or such fees fixed by the State/National Executive Committee from time to time or members of the Zonal, District or Divisional Associations as part of the affiliated Branch State Associations and the members of the existing National Council shall be treated as other members of the Association. They shall have no rights and privileges if their State Association has not paid National affiliation fees annually.
        <br><br>
        <b>WHEREAS</b>, every member who will represent in the National Council shall have the right to vote in the meeting of National Council to hold office in the National Council and in the National Executive Committee if elected or nominated for any post in the National Council and/or in the National Executive Committee and shall have the right to inspect books of accounts and minutes book.
        <br><br>
        <b>AND WHEREAS</b>, every such members who represent in the National Council shall also have the right to take part in seminars, meeting, lectures, discussions, conference and tours of the Association.
        <br><br>
        <b>AND WHEREAS</b>, shall also have the right to use the liberty and to receive ex-gratin copy of publication such as news letters, news papers, magazine, generals, etc. brought out by the Association.
        <br><br>
        <b>WITHDRAWAN OF MEMBERSHIP :-</b> Any members of the Association can withdraw from membership by express desire to do so through a letter addressed to the Chair Person/ Secretary of the National Executive Committee of the Association.
        <br><br>
        <b>EXPULSION FROM MEMBERSHIP :-</b> The National Executive Committee of the Association may expel or suspend any member on the following grounds :-
        <br>
        1. If any member works against the aims and objects of the Association.
        2. If any member tenders his/her resignation.
        3. If any member fails to attend three meetings of the Association continuously.
        4. If any member sentenced by the Court of Law.
        5. If any member fails to pay the subscription timely.
        6. On the death of the member.
        INTIMATION OF REASONS OF EXPULTION :- The reasons of expulsion shall be communicated to every member so expelled in writing.
        <br><br>
        APPEAL AND RE-ADMISSION :- Every such expelled member shall have the right to prefer an appeal to the National Council for re-admission against the reasons of expulsion. The decision of the National Council shall be final.
    </div>
</div>