<style>
    h2{
        font-family: poppins;
    }
</style>
<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
  <img src="https://img.freepik.com/premium-photo/light-bulb-vision-concept-with-copy-space_71582-178.jpg" class="history-image col-lg-12 p-0 m-0">
  <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
    <h1 class="card-title history-card-text">Mission and Vision</h1>      
  </div>
</div>
<br>
<div style="width: 100vw;">
    <div class="col-10 offset-1">
        <h2>The Mission</h2>
        <ul>
            <li>To make available voluntary membership regardless of color, class, or creed</li>
            <li>To develop a spiritual awareness among its members</li>
            <li>To create for each member awareness of, and involvement in, service to others and the community</li>
            <li>To use the opportunities of the family of Scouting in accordance with its purpose, principles, and method, in order to develop in its members' unprejudiced attitudes and an understanding of, and respect for, others</li>
            <li>To promote a commitment to a code of values that results in self-discipline and the development of the members’ full potential that will enable each one to take a meaningful place in society.</li>
        </ul>
    </div>
    <div class="col-10 offset-1">
        <h2>The Vision</h2>
        <ul>
            <li>To use specific methods that make each individual self-reliant supportive, responsible and a committed person.</li>
            <li>To reach out to a greater youth population.</li>
            <li>To establish a good image and high visibility.</li>
            <li>To encourage Community Development and Nation Building activities.</li>
            <li>To establish a good network at all levels.</li>
        </ul>
    </div>    
</div>