<style>
  .card-img-top{
    height: 70% !important;
  }
  .card-text{
    text-align: center;
    font-family: poppins;
  }
  p{
    font-weight: 500;
    text-align: center;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Tuinfeest_van_de_Meisjes_Gezellen_Vereniging_te_Den_Haag%2C_Nederland_1911.jpg" class="history-image col-lg-12 p-0 m-0">
  <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
    <h1 class="card-title history-card-text">Leadership</h1>      
  </div>
</div>

<div class="mt-5" style="width: 100vw;">
  <h1 class="text-center">National Leaders</h1>
  <br>
  <div class="co-12 d-flex justify-content-evenly flex-wrap ms-4 me-4">
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516892/21_jz7zrj.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Madhusudhan Gupta</h4>
        <p class="card-text">National Chief Commissioner</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516891/20_bjmamy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">K. Karunakar Pradhan</h4>
        <p class="card-text">National Chairman</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516892/22_slxxzr.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-text">Veeramalla Vamshi Krishna</h4>
          <p class="card-text">Sr Vice President</p>        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516893/23_elskvx.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Dr. Ved Prakash Singh</h4>
        <p class="card-text">National General Secretary</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516893/24_rtic8p.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Vanita Sharma</h4>
        <p class="card-text">Vice President</p>
      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516894/25_y46nzu.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Dr. Atul Kumar</h4>
        <p class="card-text">National Joint Secretary</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516895/26_nbjtko.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Y. K. Saxena</h4>
        <p class="card-text">National Training Commissioner</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516895/27_pbghji.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Narsingh Mehanji</h4>
        <p class="card-text">National President</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516895/28_ukogac.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Girish Juyal</h4>
        <p class="card-text">National Secretary</p></div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516896/29_gu6ndl.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Dr. M. Rajani</h4>
        <p class="card-text">International Commissioner - Guides</p></div>
    </div> 
  </div>
</div>
  