<style>
    .in-news{
        width: 40%;
    }
    .in-news img{
        width: 100%;
        height: 100%; 
    }
    
</style>

<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
  <img src="https://images.unsplash.com/photo-1697382608813-df6eb720164f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="history-image col-lg-12 p-0 m-0">
  <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
    <h1 class="card-title history-card-text">News</h1>      
  </div>
</div>
<br>
<div style="width: 100vw;">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;flex-wrap: wrap;">
        <div class="in-news">
            <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516886/10_ixidnt.jpg" alt="" class="img1">
        </div>
        <div class="in-news">
            <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516885/9_zvecgp.jpg" alt="" class="img2">
        </div>
        <div class="in-news">
            <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516887/12_arasnk.jpg" alt="" class="img3">
        </div>
        <div class="in-news">
            <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516886/11_v6xnwa.jpg" alt="" class="img4">
        </div>
    </div>
</div>
