<style>
    p {
      margin: 0;
      padding: 0;
    }
    details {
      margin: 0;
      padding: 0;
    }
  </style>
<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
    <img src="https://pbs.twimg.com/media/EDTuZ9DVUAE63Ul.jpg" class="history-image col-lg-12 p-0 m-0">
    <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
      <h1 class="card-title history-card-text">Prashiksham Yojana</h1>      
    </div>
</div>

<div style="width: 100vw;">
    <div class="mt-5 col-10 offset-1" style="text-align: justify;">
        <h5 style="font-family: poppins;"><b>PREFACE</b></h5> 
        <p>Hindustan Scouts and Guides now presenting before you the Boy and Girl Programme-Pragatisheel Prashikshan which has been duly approved by’ the National Training team and National council. You are therefore now requested to adhere to this. The tests of various stages have also been incorporated in the testcards.lt is upto you how you carry its out taking rules and regulation into consideration. Please see that each boy or girl who has been invested in the movement should keep the test card according to the age group and should progress accordingly. He or she should not stay at one stage more than one year. He/She should be trained and encouraged for the next stage. The Branch Associations are also requested to arrange for their badges and special proficiency badges, so that interest of boy & girl is continued. They are also requested to contact their ‘State Training Commissioner’ for training camps and Training Instructors’.
        </p>
        <br>
        <p>The Scouters and Guiders should be very particular in sending the ‘Annual Reports’ along with their census to their Districts. Associations and District Associations to the State Head Quarters and S.H.Q. in turn to N.H.Q. On qualifying the HEERAK/GURU PAD District, Association should register the name of Scouts/ Guides who are qualified and preparing for Rajya Puraskar and President Award. 
        </p>
        <br>
        <p>
            <b>&#128924; Advancement of a Cub / Bulbul Period Age (6 to 10+ years)</b>
            <details>
            <summary><i>Steps</i></summary>
            <p class="ms-4">
                1. Praveshika, 3 months <br> 
                2. Rajat Kiran, 6 months <br>
                3. Swarn Kiran 6 months <br>
                4. Heerak Kiran 9 months. <br>
                5.Rajya Puraskar 7 months
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Advancement of a Scout/Guide Period Age (11 to 17+ yrs.)</b>
            <details>
            <summary><i>Steps</i></summary>
            <p class="ms-4"> 
                1. Praveshika 3 months. <br>
                2. Rajat/Komal Pad 6 months. <br> 
                3. Swarn/Dhruv Pad 9 months <br>
                4. Heerak/Guru Pad 9 months <br>
                5. Rajya Puraskar 12 months <br>
                6. President Award 6 months <br>
                7. Extra Proficiency Badges (Extra) <br>
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Advancement of a Rover/Ranger Period Age (17 to 35)</b> <br> 
            <details>
            <summary><i>Steps</i><br></summary>
            <p class="ms-4"> 
                1. Aspirant (Investitured) : <br>
                <span class="ms-4">a) Praveshika Rover/Ranger 3 months.</span> <br> 
                2. In Training : <br>
                <span class="ms-4">b) Rajat Sitara, 6 months.</span> <br>
                <span class="ms-4">c) Swarn Sitara, 9 months.</span> <br>
                <span class="ms-4">d) Heerak Sitara 12 months. <br></span>
                <br>
            </p>
            </details>
        </p>
        <p>
            <span>&#10166;President Rover/Ranger Award, 12 months</span> <br>
            <span>&#10166;Rover/Ranger Proficiency Badges.</span> <br>
            <span>&#10166;IN SERVICE (as a member) 10 yrs. 25-35 yrs.</span> <br>
        </p>
        <br>
        <p>
        <b>CHAPTER – II :
        CUB / BULBUL SECTION <br></b> 
        <b>&#128924; Praveshika-</b> <br>
        <details>
        <summary><i>Requirement (Period – Three months)</i></summary> 
        <p class="ms-4">
            1. Tell the first Jungle story. (for Cubs) Tell the story of Tara (for Bulbuls)  <br>
            2. Understand the meaning of Cub/Bulbul Law, Promise, Motto, Prayer and Bulbuls six-songs. <br> 
            3. Demonstrate correctly smiling, cub/bulbul salute and left handshake. <br>
            4. Do a daily Good-turn at home. <br>
            5. Grand Howl (for Cubs), Grand Salute (for Bulbul) <br> 
            6. Whistle and Hand Signals. <br>  
            <b>Note:-</b> After qualifying Praveshika the Cubmaster/Flokleader will arrange the investiture ceremony for Girls and Boys to become a Cub/Bulbul.
        </p>
        </details>
        </p>
        <br>
        <p>
            <b>&#128924; Rajat Kiran</b> <br>
            <details>
            <summary><i>Requirement (Period – 6 months.)</i></summary>
            <p class="ms-4"> 
                1. Know how to keep personal belongings (clothes, shoes, uniform etc) neat and tidy and be able to sew buttons on garments. <br>
                2. Learn to pray before meals. <br>
                3. Do daily Good-turn at home and at school. <br>
                4. Do Vajrasan, two B.P. Exercises -Toe touching and Knee bending and meditation. <br>
                5. Be able to tell time by clock. <br>
                6. Demonstrate any two of the following :- <br>
                <span class="ms-4">a. Somersault</span> <br>
                <span class="ms-4">b. Leaf Prog.</span> <br>
                <span class="ms-4">c. Hopping</span> <br>
                <span class="ms-4">d. Skipping</span> <br> 
                <span class="ms-4">e. Throwing and catching the ball.</span> <br>
                7. Make a useful thing or make a collection of 10 different leaves, 5 flowers and tell the name of each. <br>
                8. Demonstrate any three of the following :- <br>
                <span class="ms-4">a. Ride a bicycle safely.</span> <br>
                <span class="ms-4">b. Keep the place neat & clean.</span> <br>
                <span class="ms-4">c. Use a telephone.</span> <br>
                <span class="ms-4">d. Have knowledge of the prominent person in your neighborhood.</span> <br>
                <span class="ms-4">e. Know the home address of your Cub-master/Flock-leader, members of your six (Toli).</span> <br>
                <span class="ms-4">f. Write address and affix stamps on an envelop for posting.</span> <br>
                9. Be able to sing any prayer. <br> 
                10.Be able to sing flag song and National Anthem. <br>
                <b>Note:-</b> After qualify the Rajat Kiran Test, award the Badge/Certificate.
            </p>
            </details>
        </p>
        <br>
        <p>
        <b>&#128924; Swarn Kiran</b> <br> 
        <details>
        <summary><i>Requirement :-</i></summary>
            <p class="ms-4">
                1. Prepare a handicraft out of waste material. <br>
                2.Know the health rules, Shashankasan, Tadasan and Padmasan /Another Two B.P. exercise and Meditation. <br>
                3.Tie a Reef Knot and clove hitch knot and show their uses. <br>
                4.First aid of a simple wound. <br>
                5.Tell the 4th & 5th jungle stories/Bal Shaheed Story (for cubs) b. Two stories from Bulbul Stories/ Bal Shaheed Story (for Bulbuls), <br>
                6.Do good turns under the guidance of your Cub master/flock leader along with your six (Toli). <br>
                7.Know the eight principal points of compass. <br>
                8.Knowledge of flags – National flags, Scout – Guide flag, World Scout – Guide flag(WFIS). <br>
                9.Play games – Balance games, 3 sense games and 3 jungle games for Cubs / Bulbuls. <br>
                10.Demonstrate any three of the following :- <br>
                <span class="ms-4">a.Trimming, Light and put off a hurricane lantern or change the electric bulb,</span> <br>
                <span class="ms-4">b.Run for five minute on foot/on cycle for three minutes and deliver the twelve words verbal message correctly,</span> <br>
                <span class="ms-4">c.Sow seeds and grow a plant. Take care it for three months.</span> <br>
                <span class="ms-4">d.Draw or paint a picture of any subject of your choice or be able to preserve things.</span> <br>
                <span class="ms-4">e.Make your own bed daily for at least a month,</span> <br>
                <span class="ms-4">f.Follow a trail not less than one kilometer/participate in a half day hike.</span> <br>
                11.Participate in one day/over night camp with pack/flock. <br>
                12.Know about the care to be taken of little, sharp and valuable thing in the house. <br>            
                <b>Note:-</b> After qualifying the Swarn Kiran Test, award the Badge/Certificate.
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Heerak Kiran</b> <br>
            <details>
            <summary><i>Requirements :-</i></summary>
            <p class="ms-4">
                1.Handicraft-make a useful thing. <br>
                2.Open a small savings Account in post office or bank or Sanchaika. <br>
                3.Grow two plants and care them at least for six months. <br>
                4.Earn one proficiency badge from each group. <br>
                <span class="ms-4">a.First-Aider/Guider/House orderly/world conservation Badge.</span> <br>
                <span class="ms-4">b.Collector/ Gardener/ Observer.</span> <br>
                <span class="ms-4">c.Athlete/Cyclist/Team player/ Swimmer.</span> <br>
                <span class="ms-4">d.Artist/Cook/Home craft/Toymaker/Entertainer/Needle worker.</span> <br>
                5. Participate in pack/flock expedition. <br>
                6. Participate in a pack/flock good-turn activity by adopting a public/religious/historical place. <br>
                7. Participate in over night camp during this Test. <br>
                8. Be able to use the sheet Bend, Fisherman knot and one round and two half hitches. <br>
                9. Have the knowledge of your colony/village/town & State. <br> 
                10.Know to welcome and receive a guest in a Social way. <br>
                <b>Note :-</b> After qualifying the test of Heerak Kiran, Cub/Bulbul may select for Rajya Puraskar Camp. So the Unit Leader should send the qualified Cub/Bulbul name list to Distt./State Headquarters Through proper channel.
            </p>
            </details>
        </p>
        <br>
        <p>
        <b>&#128924; Rajya Puraskar</b> <br>
        <details>
        <summary><i>Requirements</i></summary>
        <p class="ms-4">
            1.Participation in one day Hike. <br>
            2.Participation in one weekend Camp. <br>
            3.Collection of leaves of five plants/herbs which are useful in medicine and paste them in log-book. <br>
            4.Participation in any one National Day function. <br>
            Participation in any Distt./State/National Camp or Rally. <br>
            Earn any 4 Proficiency Badges :- <br>
            <span class="ms-4">&#9679; Swimmer</span> <br>
            <span class="ms-4">&#9679; Cyclist</span> <br>
            <span class="ms-4">&#9679; Artist</span> <br>
            <span class="ms-4">&#9679; Bookbinder</span> <br>
            <span class="ms-4">&#9679; Home craft</span> <br>
            <span class="ms-4">&#9679; Toymaker</span> <br>
            <span class="ms-4">&#9679; Collector</span> <br>
            <span class="ms-4">&#9679; Guider</span> <br>
            <span class="ms-4">&#9679; Observer</span> <br>
            <span class="ms-4">&#9679; Naturalist</span> <br>
            <span class="ms-4">&#9679; Cook</span> <br>
            <span class="ms-4">&#9679; First-Aider</span> <br>
            <span class="ms-4">&#9679; Drawing a picture on Environment or Natural scenary</span> <br>
            <span class="ms-4">&#9679; Participate in a Service Camp</span> <br>
            <span class="ms-4">&#9679; Revision of Yoga/Meditation/exercise upto Heerak Kiran</span> <br>
            <b>Note :-</b> All participants will submit their note/log books to Rajya Puraskar.
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>CHAPTER – III : </b> 
            <b>SCOUT/GUIDE SECTION</b> <br> 
            <b>Scout/Guide Section – (Age Group- 11 to 17+) </b> <br>
            <i>Subject Timing</i> <br> 
            <b>&#128924; Praveshika </b><br>
            <details>
            <summary><i>Requirements (Period – 3 months)</i></summary>
            <p class="ms-4">
                1.Knowledge of Scouting/Guiding of Hindustan Scouts & Guides Association. <br>
                2.Hindustan Scouts & Guides Prayer and lag Song. <br>
                3.Knowledge of Scout/Guide Law & Promise. <br>
                4.Scout/Guide Motto, Sign, Salute, Left hand shake and Emblem. <br>
                5.Scout/Guide Uniform and how to wear it. <br>
                6.Know the whistle and hand signals. <br>
                7.Know the significance of Hindustan Scouts & Guides and National Flag. <br>
                8.Learn and sing the National Anthem, Vande Matram and Sare Jahan se Achchha….<br>
                9.Do a good turn for 30 days and keep the record. <br>
                10.Exercise and Yoga. <br>
                11.Learn proper way of breathing and exercise for breathing, eyes, neck, hands and shoulders. <br>
                12.Perform any 4 Aasans- Vajrasan, Padmasan, Tadasan, Shavasan. <br>
                13.Laughing, Smiling and Silence for one hour weekly. <br>
                14.Life of two great men of India. <br>
                <b>Note:-</b> After completion of Praveshika the Unit Leader(Scout Master/Guide Captain) will arrange the investiture for boys/girls to become a Scout/Guide.
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Rajat Pad</b> <br>
            <details>
            <summary><i>Requirement (Period 6 months.)</i></summary>
            <p class="ms-4">
                1.Completed the Praveshika Test. <br>
                2.Know the Patrol system, its organization, patrol corner, flag, yell, song, voice, library, record and patrol meetings. <br>
                3.Know about 16 directions by compass. <br>
                4.Know the flag ceremony and its practice. <br>
                5.Know the woodcraft signs. <br>
                6.Learn and practice of whipping & the following knots:- Reef knot, sheet-band, clove hitch, sheep shank, fisherman knot, thumb knot. <br>
                7.Know the rules of health. <br>
                8.First-Aid <br>
                9.Knowledge about the first aid box. <br>
                10.Triangular Bandages and their uses. <br>
                11.Render first aid for scratches, burns, cuts, bleeding from the nose & sprains. <br>
                12.Know the use of staff. <br>
                13.Practice of simple drill and with staff. <br>
                14.One day 4 k.m. Patrol hike. <br>
                15.Make a useful handicraft or gadget. <br>
                16.Participate in wide games and sense training game. <br>
                17.Do a good turn daily for 40 days and enter in your note-book. <br>
                18.Participate in cleanliness campaign in your locality or school for five days. <br>
                19.Participate in all faith prayers. <br>
                20.Exercise and Yoga :- <br>
                <span class="ms-4">&#9679; Exercise for chest and stomach. </span> <br>
                <span class="ms-4">&#9679; Perform & Practise any four Asans-dhanurasan, Garudsan, kagasan, Gorakshan, Paschimotasan, Sithilasan and perform and practice- Surya Namaskar. </span> <br>
                21.Know the life history of three great men and write in your note-book. <br>
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Swarn Pad</b> <br>
            <details>
            <summary><i>Requirement (9 Month)</i></summary>
            <p class="ms-4">
                1.Pioneering ( Knots and Lashing) <br>
                2.Timber hitch, veiling, liver hitch, bowline one round and two half hitches. <br>
                3.Sheer/parallel lashing, square lashing, figure of eight lashing, diagonal lashing. <br>
                4.Make improvised shelter. <br>
                5.First Aid <br>
                6.Kinds of badges and their uses. <br>
                7.Learn and demonstrate improvised stature and carrying methods. <br>
                8.Throw life line for 14 meters. <br>
                9.Render first aid for sunstroke something fall in the eyes, blister on heal &stings. <br>
                10.Fire <br>
                <span class="ms-4">&#9679; Lay and light a wood-fire with not more than two match sticks.</span> <br>
                <span class="ms-4">&#9679; Know about light of kerosene/Gas stove, its cleaning and safety precautions with leakage of gas. </span> <br>
                <span class="ms-4">&#9679; Putting out the fire by various methods. </span> <br>
                11.Cooking :- Prepare tea, breakfast, lunch and dinner for your patrol with the help of your patrol members. <br>
                12.Estimation <br>
                <span class="ms-4">&#9679; Self measurement (i.e. Hand, Arm, Foot and other parts of the body etc.)</span> <br>
                <span class="ms-4">&#9679; Estimation of width, distance & height with the help of Scout scaff or other materials.</span> <br>
                <span class="ms-4">&#9679; By Scout/Guide pace cross two K.M. way</span> <br>
                13.Direction and basic knowledge of map <br>
                <span class="ms-4">&#9679; Be able to find out the North direction at night time with the help of stars. </span> <br>
                <span class="ms-4">&#9679; Be able to identify the direction by conventional methods and by watch. </span> <br>
                14.Signaling :- Know and demonstrate the signaling of MAMOMA Semaphore MORSE (by flag) <br>
                15.Participate in a 10 K.M. hike for nature study and write in your note-book. <br>
                16.Complete any two projects from the following and write in your note-book <br>
                17.Render social service in a Mela. Holly place, Hospital, Bus-stand/Railway station etc. for 12 hours. <br>
                18.Participate in cleanliness campaign at least 12 hours. <br>
                19.Help in solving the pollution problems in your school or locality. <br>
                20.Study and collection with illustration of our culture or locality and heritage. <br>
                21.Undertake a development project in your school, locality with your patrol with permission from the head of institution/local authorities and adopt a park/holly place/village/slum/water spot/public place to maintain the same for one month and educate the users of its importance and maintaining the same. <br>
                22.Exercise and Yoga <br>
                23.Scouts exercise <br>
                24.What is Satkarm. Know about Kunjal. <br>
                25.Exercise of legs and hands. <br>
                26.Perform and practice any 4 Yogasan- Katichakrasan, Pawan Muktasan, Bhujangasan, Makarasan, Shavasan. <br>
                27.Anulam-Vilompranayam. <br>
                28.Participate in a all faith prayer programme. <br>
                29.Earn any 3 proficiency badges <br>
                <span class="ms-4">&#9679; Cook</span> <br>
                <span class="ms-4">&#9679; Friend to animal</span> <br>
                <span class="ms-4">&#9679; Debater</span> <br>
                <span class="ms-4">&#9679; Community Singer</span> <br>
                <span class="ms-4">&#9679; Gardener</span> <br>
                <span class="ms-4">&#9679; Home Service (Guide)</span> <br>
                <span class="ms-4">&#9679; Cyclist</span> <br>
                <span class="ms-4">&#9679; Rangoli (Guide)</span> <br>
                <span class="ms-4">&#9679; Toymaker</span> <br>
                <span class="ms-4">&#9679; Athlete</span> <br>
                <span class="ms-4">&#9679; Swimmer</span> <br>
                <span class="ms-4">&#9679; Reader</span> <br>
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Heerak Pad</b> <br>
            <details>
            <summary><i>Requirement (12 Month)</i> </summary>
            <p class="ms-4">
                1.Eligibility- Dhruv Pad qualified. <br>
                2.First-Aid <br>
                3.Know and demonstrate about artificial respiration. <br>
                4.Know the main parts of the human body <br>
                5.Deal with simple fracture of collar bone, leg, arm and jaw. <br>
                6.Know the pressure point and how stop its bleeding. <br>
                7.Render first aid for shock, fainting, electric shock and choking. <br>
                8.Camp Crafts and Pioneering <br>
                9.Revision of lashings. <br>
                10.Tie and practice- Draw hitch, liver hitch, man harness knot, chair knot, bowline on the bite. <br>
                11.Know the tools of camp and their uses. <br>
                12.Pitching, string and packing a tent or improvise shelter. <br>
                13.Learn and make any two patrol pioneering project with your patrol <br>
                14.Two rope bridge <br>
                15.Ladder bridge <br>
                16.Monkey bridge <br>
                17.Suspension bridge <br>
                18.Swinging derrick <br>
                19.Signaling tower <br>
                20.Signaling :- Practice of sending & receiving message containing at least 30 words through Morse/Mamoma/Semaphore (in Hindi or English). <br>
                21.Estimation:- Know and practice of different estimation methods of width, length and height etc. not more than 30 mtrs. And for weight not more than 2 K.G.. <br>
                22.Mapping :- <br>
                <span class="ms-4">&#9679; Making and reading of Map</span> <br>
                <span class="ms-4">&#9679; Making Route map.</span> <br>
                <span class="ms-4">&#9679; Know the concessional signs of map.</span> <br>
                <span class="ms-4">&#9679; Be able to read a tourist or survey of India map etc.</span> <br>
                23.Hike :- <br>
                <span class="ms-4">&#9679; Participate in a cycle hike for 30 K.M. or a hike on foot for 10 K.M. with your patrol (for Scout). </span> <br>
                <span class="ms-4">&#9679; Participate in a cycle hike for 20 K.M. or a hike on foot for 8 K.M. with your patrol (for Guide). </span> <br>
                <span class="ms-4">&#9679; Camp :- Participate in three nights camp and write its reports in your note-book. </span> <br>
                24.Earn any 3 proficiency badges not earn earlier :- <br>
                <span class="ms-4">&#9679; Citizen </span> <br>
                <span class="ms-4">&#9679; Camper</span> <br>
                <span class="ms-4">&#9679; Yoga</span> <br>
                <span class="ms-4">&#9679; Entertainer</span> <br>
                <span class="ms-4">&#9679; Climber</span> <br>
                <span class="ms-4">&#9679; Hiking</span> <br>
                <span class="ms-4">&#9679; Path finder</span> <br>
                <span class="ms-4">&#9679; Folk dancer</span> <br>
                <span class="ms-4">&#9679; Computer Awareness</span> <br>
                <span class="ms-4">&#9679; Pioneer</span> <br>
                25.Exercise and Yoga :- <br>
                <span class="ms-4">&#9679; Perform and practice these asans- Konasan, Uttanpad asan, Shalabhasan, Sarvongasan, Supt Vajrasan and Shavasan </span> <br>
                <span class="ms-4">&#9679; Pranayam :- Sheetali or Nadi Shodhan. </span> <br>
                <span class="ms-4">&#9679; Participate in all faith Meditation </span> <br>
                <span class="ms-4">&#9679; Learn repair Hand pump, taps, Gas stove, kerosene stove, caning, chair/coat. </span> <br>
                Knowledge :- Know about the two states its life and culture and write in your log-book. <br>
                <b>Note :-</b> Test should be given of 2 only.
            </p>
            </details>
        </p> 
        <br>
        <p>      
        <b>&#128924; Rajya Puraskar</b> <br>
        <details>
        <summary><i>Requirement (6 Month)</i></summary>
            <p class="ms-4">
                1.Eligibility- Guru Pad <br>
                2.Participate in 3 day Pradeshik Puraskar test camp which will be organized by State. <br>
                3.Undertake and render social service on any place for 12 hours and write in your log i.e. Holly place, village, slum, colony, mela, religion procession, hospital, railway station and bus-stand. <br>
                4.Take a project on any one from the following and note in your log-book:- <br>
                <span class="ms-4">&#9679; Sarva Shiksha Abhiyan</span><br>
                <span class="ms-4">&#9679; Environment</span><br>
                <span class="ms-4">&#9679; Sanitation</span><br>
                5.Exercise and Yoga :- Test of Dhruv Pad Yoga and Exercise. <br>
                6.Qualify any 4 proficiency badges <br>
                <span class="ms-4">&#9679; Social worker</span><br>
                <span class="ms-4">&#9679; Leprosy control</span><br>
                <span class="ms-4">&#9679; Literacy</span><br>
                <span class="ms-4">&#9679; Environment protector</span><br>
                <span class="ms-4">&#9679; Village worker</span><br>
                <span class="ms-4">&#9679; Yoga</span><br>
                <span class="ms-4">&#9679; Games Leader</span><br>
                <span class="ms-4">&#9679; Secretary</span><br>
                <span class="ms-4">&#9679; Child nurse (Guide)</span><br>
                <span class="ms-4">&#9679; Tailor</span><br>
                <span class="ms-4">&#9679; Sanitation promoter</span><br>
                <span class="ms-4">&#9679; Population educator</span><br>
                <span class="ms-4">&#9679; Nutrition educator</span><br>
                <span class="ms-4">&#9679; Electrician</span><br>
                <b>Note :- </b>
                    <br>
                    <span class="ms-4">1.Examiner for proficiency badges be appointed by State Headquarters, Distt. Headquarters, appoint the examiner with the consent of State Trg. Commissioner.</span> <br>
                    <span class="ms-4">2.The Pradeshik Puraskar badge shall he wear on the left arm in place of Guru Pad badge.</span> <br>
                    <span class="ms-4">3.Log-book, Certificate regarding 2,3,4,5,6 will be produced in Test camp</span> <br>
                    <span class="ms-4">4.Proficiency badges camp may be organized subject specialist should he/she invited</span> <br>
                
            </p>
            </details>
        </p>
        <br>
        <b>WORLD CONSERVATION YOGA</b><br> 
        <p class="ms-4">A guide can start working for Proficiency Badges at any time after investiture and continue working for them till she completes the guide age even, after gaining the President Award – Guide.</p>
        <br>
        <p>
            <b>CHAPTER IV <br>
            ROVER-RANGER SECTION <br> 
            &#128924; Praveshika</b> <br>
            <details>
            <summary><i>Requirements (Period – 3 months)</i></summary>
            <p class="ms-4">
                1.Knowledge of Scouting/Guiding of Hindustan Scouts & Guides Association <br>
                2.Hindustan Scouts & Guides Prayer and flag Song. <br>
                3.Knowledge of Scout/Guide Law & Promise. <br>
                4.Scout/Guide Motto, Sign, Salute, Left hand shake and Emblem. <br>
                5.Scout/Guide Uniform and how to wear it. <br>
                6.Know the whistle and hand signals. <br>
                7.Know the significance of Hindustan Scouts & Guides and National Flag. <br>
                8.Learn and sing the National Anthem, Vande Matram and Sare Jahan se Achchha….. <br>
                9.Do a good turn for 30 days and keep the record. <br>
                10.Exercise and Yoga <br>
                11.Learn proper way of breathing and exercise for breathing, eyes, neck, hands and shoulders <br>
                12.Perform any 4 Aasans- Vajrasan, Padmasan, Tadasan, Shavasan. <br>
                13.Laughing, Smiling and Silence for one hour weekly. <br>
                14.Life of two great men of India. <br>
                <b>Note :-</b> After completion of Praveshika the Unit Leader(Scout Master/Guide Captain) will arrange the investiture for boys/girls to become a Scout/Guide.
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>&#128924; Rajat Sitara</b> <br>
            <details>
            <summary><i>Requirements</i></summary>
            <p class="ms-4">
                1.Work for a happy family by accepting family job that helps to relieve hard working members of your family. <br>
                2.Develop in consultation with the Rover scout Leader/Ranger leader a taste for hobbies/vocational activities and show that you are progressing in time. <br>
                3.Participate in group discussions of your Crea/Team adn chair at least two. <br>
                4.Take active part in Hobbies/Handicraft centre organised by the Crew/Team. <br>
                5.Prepare a paper/Talk on pollution education/ family life education and submit it to the Crew/Team council. <br>
                6.Attend atleast three prayer meetings of your Crew/ Team, or Participate in a service camp for one day. <br>
                7.Render sustained service in a pack/Flock or a troop/company or a camp site for a period of three months. <br>
                8.Have knowledge in pioneering, camping and first Aid upto Tritiya pad Level in Scout/Guide section. <br>
                9.Organise games for children in your mohalla/ Village/ Colony for about a month or Conduct competition for children preferably of your locality on a conservation subject. <br>
                10.Qualify for any one of the proficiency Badges. <br>
                <span class="ms-4">&#9679; Literacy </span> <br>
                <span class="ms-4">&#9679; Sanitation promoter </span><br>
                <span class="ms-4">&#9679; Blood Donor. </span><br>
                <span class="ms-4">&#9679; Population Education </span><br>
                <span class="ms-4">&#9679; World friendship</span><br>
                <b>Note :-</b> <br>
                <span class="ms-4">&#9679; On completion of the test to the satisfaction of the independent examiner appointed by Z.A./ D.A/R.A. as the case may be with approval of the Distt. Trg. Commissioner. ‘KUSHAL Badge’ to issued on the basis of certificates issued by the examiners. </span> <br>
                <span class="ms-4">&#9679; KUSHAL badge is a pair of green shoulder flashes of cotton/wool with letter R in Red at bottom and a yellow bar under the letter. </span><br>
                <span class="ms-4">&#9679; The badge shall be worn on shoulder straps (epaulets). </span><br>
            </p>
            </details>
        </p>
        <br>
        <p>
            <b>[III] DAKSHBADGE</b><br>
            <details>
            <summary><i>Requirements</i> </summary>
            <p class="ms-4">
                1. Show of rights and duties of a citizen and discuss in your crew/Team council the problems involved in them. <br>
                2. Show further progress in your hobbies and handicrafts/vocational skills or Study the books on Transactional Analysis or Participate in a group discussion on Transactional Analysis and correct yourself and your behavior with others and satisfy yourself and your unit leader. <br>
                3. Prepare a paper or give talk on religious tolerance or participate in any religious function other than of your own and report to the Rover/Ranger Leader or Crew./Team council.  <br>
                4. Adopt a building/structure/place/institution of public importance and look to its upkeep for a month or observe brewing place of mosquitoes and flies and take possible steps for removal. (Rovers).Plan and work for a project atleast for a month in consultation with your Ranger leader to help children/aged/disabled/sick person (for Rangers) <br>
                5. Participate in your Crew/Team compaign to educate people in protecting public properties. <br>
                6. Take up any cultural subject as approved by the crew council and report. <br>
                7. Help establish a literacy centre and work for a month. or help 6 people to start saving bank accounts or work as tutor atleast 5 boys/girls during their examinations. <br>
                8. Help in one of the following:- <br>
                <span class="ms-4">a. Blood Donation campaign  </span> <br>
                <span class="ms-4">b. Eye Donation campaign </span><br>
                <span class="ms-4">c. AIDS awareness campaign </span><br>
                <span class="ms-4">d. Population Education campaign</span><br> 
                <span class="ms-4">e. Immunization camps</span><br> 
                <span class="ms-4">f. Free Eye operation camps.</span><br>
                9. Work as an Assistant in a pack/scout camp or Rally, (for Rovers) work as an assistant in a flock/Guide camp or a Zonal/Distt. Regional Rally. <br>
                10. Qualify for Rambler’s Badge or Ecologist Badge, (for Rovers)Qualify for Rural worker/community worker/Ecologist badge for Rangers. <br>
                <b>Note :- </b><br>
                <span class="ms-4">a. On completion of the test to the satisfaction of independent examiners appointed by the zonal/ distt./regional Association, as the case may be, on approval of Distt. Trg. Commissioner, Daksh Badge is issued by the Z.A./Distt. A/R.A. on the basis of the certificates issued by the examiners.</span><br>
                <span class="ms-4">b. ‘DAKSH1 Badge is a pair of shoulder flashes in green of cotton or wool with letter ‘R’ in red at the bottom and two’ yellow bars under the letter. </span><br>
                <span class="ms-4">c. The badge is worn in place of’ KUSHAL’ BADGE.</span><br>
            </p>
            </details>
        </p>
        <br>
        <p>
        <b>IV. PRESIDENT ROVER/RANGER AWARD (Period 1 Year)</b> <br>
        <details>
        <summary><i>Requirements</i></summary> 
        <p class="ms-4">
        1. Have completed the age of 19yrs <br>
        2. Select on subject connected with world affiars, National affaris, cultural subjects Scout/ Guide craft & hobbies or handicrafts* or sports.World organisation working for the betterment of the humanity/Youth Organisations in the world/different foundation/World Bank/World Service Organisation, or National Affairs like our Government/National Development plans and scheme/National Educational Pattern/Service Organisation/cooperatives. Submit the report within the 6 months to crew council/Team council. <br>
        3. Discuss with your Rover/Ranger Leader how best you can help your country/community and prepare priorities. <br>
        4. Participate in a cross country over night Adventure hike. <br>
        5. Promote a community Development project on Health or Food Production or Nutrition or Environmental sanitation Programme in your locality or any other locality and show the success to the council (of Rovers/Rangers) <br>
        6. Lead a small contingent of Rovers/Ranger of your Crew/Team to participate in a Scout/Guide activity preferably in neighboring State or district. <br>
        7. Render service atleast for a week for a State/ National Events. <br>
        8. Organise a community signing programme for the children in the locality. Develop Pen friendship with Rovers/Ranger of other states and prove that friendship is mutually useful. <br>
        9. Organise sustained ‘Traffic Control’ or ‘Letter Chase’ or’ Conservation campaign in your locality for three months’ or promote and participate in a joint project undertaken with any of the organisation such as :- <br>
        <span class="ms-4">a. Lion Club</span> <br>
        <span class="ms-4">b. Rotary Club</span> <br>
        <span class="ms-4">c. Indian Red cross</span> <br> 
        <span class="ms-4">d. St. Jhon Ambulance Association </span> <br>
        <span class="ms-4">e. Youth Hostels Association</span> <br>
        <span class="ms-4">f. Jaycees or any such organisation with permission of the crew/team council.</span> <br>
        10.Qualify for any one of the proficiency badge from each group :- <br>
        Group A. <br>
        <span class="ms-4">1. Blood Donor</span> <br>
        <span class="ms-4">2. Soil Conservation</span> <br>
        <span class="ms-4">3. Civil Defense</span> <br>
        <span class="ms-4">4. World Conservation</span> <br> 
        <span class="ms-4">5. Community worker</span> <br>
        Group B. <br>
        <span class="ms-4">1. Climber</span> <br>
        <span class="ms-4">2. Home Nurse</span> <br>
        <span class="ms-4">3. Healthyman</span> <br>
        <span class="ms-4">4. Public Healthman</span> <br> 
        <span class="ms-4">5. Ambulanceman</span> <br>
        Group C. <br>
        <span class="ms-4">1. Family life Education</span> <br> 
        <span class="ms-4">2. Yoga</span> <br>
        <span class="ms-4">3. Personality Development</span> <br> 
        <span class="ms-4">4. Folk life</span> <br>
        <span class="ms-4">5. Population Education.</span> <br>
        Note :-  <br>
        <span class="ms-4">President Rover/Ranger Award the highest and unique distinction in the movement. </span> <br>
        <span class="ms-4">* As a Daksha Rover/Ranger, he/she will work atleast for one year to qualify for the President Rover/Ranger Award.</span> <br>
        <span class="ms-4">* A Rover/Ranger is not eligible to qualify for President Rover/Ranger Award on completion of 25 years of age.</span> <br>
        <span class="ms-4">* Rover Scout Leader/Ranger leader shall inform the N.H.Q. through proper channel on a registration form available at the State Head Quarters that Daksh Rover/Ranger is preparing for this badge. </span><br>
        <span class="ms-4">* On completion of the tests to the satisfaction of independent examiners appointed by Z.A./D.A./ R.A., on approval of D.T.C. Daksh Rover/Rnager will send the prescribed Performa.</span> <br>
        <span class="ms-4">* The National Commissioner shall approve this Award on the basis of certificates of the examiners and on the recommendation of the Crew/Team Council, the concerned D.C. and the State Chief Commissioners.</span> <br>
        
        </p>
        </details>
        <br>
        <p>
        <b><i>The President Rover/Ranger Award Badge is worn on the left arm.</i></b> <br>
        <details>
        <summary>Rover-Ranger Proficiency Badges</summary>
        <span class="ms-4">1. Blood Donor</span> <br>
        <span class="ms-4">2. Civil Defense</span> <br>
        <span class="ms-4">3. Self Defense</span> <br>
        <span class="ms-4">4. Community Worker</span> <br>
        <span class="ms-4">5. Climber</span> <br>
        <span class="ms-4">6. Folk Life</span> <br>
        <span class="ms-4">7. Education for All</span> <br> 
        <span class="ms-4">8. Population Education</span> <br>
        <span class="ms-4">9. Rambler</span> <br>
        <span class="ms-4">10. Soil Conservation</span> <br> 
        <span class="ms-4">11. World Conservation</span> <br>
        <span class="ms-4">12. World Friendship</span> <br>
        <span class="ms-4">13. Personality Development</span> <br> 
        <span class="ms-4">14. Yoga </span><br>
        <span class="ms-4">15. Salesman</span> <br>
        <span class="ms-4">16. Sanitation Promoter</span> <br>
        <span class="ms-4">17. Ecologist </span><br>
        <span class="ms-4">18. Family Life Education </span><br> 
        <span class="ms-4">19. Healthy man </span><br>
        <span class="ms-4">20. Home Nurse</span> <br>
        <span class="ms-4">21. Public Health man</span> <br> 
        <span class="ms-4">22. Ambulance Man</span> <br>
        <span class="ms-4">23. Ambulance (Ranger) </span> <br>
        <span class="ms-4">24. Crafts Man/Woman </span> <br>
        Note :-  <br>
        <span class="ms-4">i. Rover/Ranger is eligible to qualify for Rover/Rnager Proficiency badges.</span> <br>
        <span class="ms-4">ii. All these Proficiency badges shall be worn on the right arm in parallel rows. </span><br> 
        <span class="ms-4">iii. All Proficiency Badges of the Rover Section shall be in red on grey background.All proficiency Badges of the Ranger Section shall be in red on white background.  </span><br>
        <span class="ms-4">iv. On completion of the tests to the satisfaction of independent examiniers appointed by Z.A./D.A./ R.A. with approval of the D.T.C. concerned. These P.Badges shall be issued on the basis of the certificates issued by the examiners.</span> <br>
        <br>
        </details>
        <br>
        <b>ROVER-IN SERVICE/RANGER-IN SERVICE </b> <br>
        <span class="ms-4">1. On the completion of 21 years of age, Rover should take up responsibility of Adult Leadership in the movement. Taking the responsibility in Ranger Section the age will 25 years. </span><br>
        <span class="ms-4">2. During the Rover/ranger state the Rover/ Ranger will participate in various service projects taken up by the the Crew; However on completion of Rover/Ranger stage he/she will embark upon definite jobs of service to the community either within or outside the movement. </span> <br>
        <span class="ms-4">3. The service project under taken by the Rover/ Ranger individually or in groups will be of sustained nature and a record of it will be maintained by the Crew/Team. </span><br>
        </p>
        </p>        
    </div>
</div>