<style>
  .card-img-top{
    height: 70% !important;
  }
  .card-text{
    text-align: center;
    font-family: poppins;
  }
  p{
    font-weight: 500;
    text-align: center;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Tuinfeest_van_de_Meisjes_Gezellen_Vereniging_te_Den_Haag%2C_Nederland_1911.jpg" class="history-image col-lg-12 p-0 m-0">
  <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
    <h1 class="card-title history-card-text">Leadership</h1>      
  </div>
</div>

<div class="mt-5" style="width: 100vw;">
  <h1 class="text-center">State Leaders</h1>
  <br>
  <div class="co-12 d-flex justify-content-evenly flex-wrap ms-4 me-4">
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516881/1_jwsiab.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Dr. Addanki Dayakar</h4>
        <p class="card-text">State Chief Commissioner</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516882/2_lwgwjj.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Putta Praveen</h4>
        <p class="card-text">State Chairperson</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516882/4_muzcwj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-text">Veeramalla Vamshi Krishna</h4>
          <p class="card-text">President</p>        </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516882/3_rt9xqj.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Soora Harikrishna</h4>
        <p class="card-text">State Vice President</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516884/6_vdmx2p.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Jeedipally Ashwini</h4>
        <p class="card-text">State Vice President</p>
      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516883/5_cen1xi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Dr. Kunchapu Suresh</h4>
        <p class="card-text">State Secretary</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516884/7_zdupey.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">Gannarapy Vijay</h4>
        <p class="card-text">State Treasurer</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516885/8_nnzxlo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">G. Srikanth</h4>
        <p class="card-text">State Joint Secretary</p>      </div>
    </div>
    <div class="card col-lg-4 col-md-6 col-sm-10 sol-xs-10" style="width: 20rem; width: 20rem;">
      <img src="https://res.cloudinary.com/dq2suftps/image/upload/v1722516887/13_nz2hhq.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-text">T. Dhilip</h4>
        <p class="card-text">State Assistant Commissioner</p></div>
    </div>
  </div>
</div>
  