<% layout("/layouts/boilerplate.ejs") %>
<div class="border-radius-none history-card card m-0 p-0">
    <img src="/images/j3.jpg" class="history-image col-lg-12 p-0 m-0">
    <div class="card-img-overlay d-flex align-items-center ms-5 ps-4">
      <h1 class="card-title history-card-text">Why Join Us?</h1>      
    </div>
</div>

<div style="width: 100vw;">
  <div class="mt-5 col-10 offset-1" style="text-align: justify;">
    <h2 class="mt-2" style="font-weight: 600; font-family: poppins; text-align: center;">The Perks Of Joining Us</h2><br>
    <h5 style="font-weight: 600; font-family: poppins;">CUB/BULBUL SECTION</h5>
    <p class="ps-3">
      1.&nbsp;Developing good habits.<br>
      2.&nbsp;Inspiring for good character.<br>
      3.&nbsp;Making the aim of good citizenship.<br>
      4.&nbsp;Knowing & Expressing the skills of Cub/Bulbul section to be a good boy/Girl.<br>
      5.&nbsp;Helping his/her all round development.<br>
      6.&nbsp;Developing sense of respect for elders, public property, Family traditions, faith in God and love for Youngsters in the family, neighbourhood and nature. <br>
      7.&nbsp;Knowledge of his/her surroundings and culture.<br>
      8.&nbsp;To do a good turn daily.<br>
      9.&nbsp;Satisfy his/her needs for adventure.<br>
      10.&nbsp;Developing the sense of duty.<br>
    </p>
    <br>
    <h5 style="font-weight: 600; font-family: poppins;">SCOUT/GUIDE SECTION</h5> 
    <p class="ps-3">
      1.&nbsp;Developing his/her character to become healthy, happy and useful Citizen.<br>
      2.&nbsp;Accept and follow the aim of good Citizenship.<br>
      3.&nbsp;Preparing himself/herself in Scout/Guide skills to help others.<br>
      4.&nbsp;Making things useful for others.<br>
      5.&nbsp;Developing the qualities of a dynamic leadership.<br>
      6.&nbsp;Increasing the love for nature, National resources and adventure.<br>
      7.&nbsp;Knowing about his/her National & Heritage of culture and contribute for the cause of National Integration.<br>
      8.&nbsp;Be aware of his/her capacities and use them in service to the community.<br>
      9.&nbsp;Accepting the challenges which contribute for his/her all round development.<br>
      10.&nbsp;Developing the sense of beauty to make the environment attractive and things in good order.<br>
    </p>
    <br>
    <h5 style="font-weight: 600; font-family: poppins;">ROVER /RANGER SECTION</h5>
    <p class="ps-3">
      1.&nbsp;Becoming an active, participating and creative citizen.<br>
      2.&nbsp;Improving skills, vocational and otherwise, to self dependent and useful to others.<br>
      3.&nbsp;Making Scouting/Guiding a way of life.<br>
      4.&nbsp;Leading a refined religious life in service of man and God.<br>
      5.&nbsp;Working for the up keeping of our National heritage and culture with love for human values.<br>
      6.&nbsp;Feeling respect for himself/ herself and for others and their experience.<br>
      7.&nbsp;Having a fair understanding about national and world affairs in general to make the world better.<br>
      8.&nbsp;Participating with responsibilities in the developmental activities pertaining to National priorities.<br>
      9.&nbsp;Developing a positive attitude, leading a happy family life, selecting a good job, making the full use of his/her Rovering/Rangering skills.<br>
      10.&nbsp;Preparing himself/ herself to do his/her duty to country and develop love for universal Brotherhood/Sisterhood i.e. Peace and good will among human values.<br>
    </p>

  </div>
</div>